$primary-color: #43546F;
$border-radius: 10px;

.loginPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > *:not(:last-child){
        margin-bottom: 56px;
    }
}

.loginPage_header{
    color: $primary-color;
    font-size: 60px;
    font-weight: bold;
}

.loginPage_inputs{
    display: flex;
    flex-direction: column;
    gap: 29px;

    .input{
        border-radius: $border-radius;
        border: 1px solid #3C495C;
        font-size: 23px;
        font-weight: lighter;
        padding: 20px 30px 20px 30px;
        color: $primary-color;
        outline: none;

        &:last-child{
            margin-bottom: 29px;
        } 
    }

    .loginPage_more{
        display: flex;
        justify-content: space-between;

        .loginPageMore_forgotPassword{
            color: #435673;
            font-size: 18px;
            font-weight: medium;
        }
    }
}

.loginPage_btn{
    border-radius: $border-radius;
    width: 325px;
    height: 67px;
    background: linear-gradient(to right, #384A65, #6E8EBD);
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
}