
@use "../../styles/colors.scss" as *;

.btnForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 481px;
    border-radius: $btnForm_border_radius;
    background-color: $btn_bg_color;
    color: $btn_text_color;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}