
$text_base_color: #1E293B;
$background-color: #f9f9f9;

// INPUTS

$inputForm_border_radius: 18px; 

$input_border_color: #CBD5E1;
$input_border_radius: 123px;
$input_text_color: #475569;

// POSTS
$profile_text: #475569;
$tag_color: #4F46E5;


// BUTTONS
$btnForm_border_radius: 13px;

$btn_text_color: #FFF;
$btn_bg_color: #4F46E5;
$btn_border_radius: 1234px;

