@use "../../shared/styles/colors.scss" as *;

.loginForm {
  text-align: center;
  width: 481px;

  > *:not(:last-child) {
    margin-bottom: 77px;
  }

  &__title {
    font-size: 48px;
    color: $text_base_color;
    text-align: center;
    cursor: default;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    
    > *:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__actions {
    margin-top: 55px;
  }

  &__forgotPassword {
    margin-top: 23px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  &__separator {
    position: relative;
    padding-top: 30px;

    .separator__text {
      position: absolute;
      left: 50%;
      top: 29px;
      background-color: $background-color;
      padding: 0 5px;
    }
  }

  &__registration {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 40px;

    .registration__text {
      font-size: 20px;
      cursor: default;
    }

    .registration__link {
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__alternativeLogin {
    text-align: left;

    .alternativeLogin__title {
      font-size: 16px;
    }

    .alternativeLogin__services {
      display: flex;
      gap: 10px;
    }
  }
}
