
@use "../../styles/colors.scss" as *;

.inputForm{
    border: 1px solid $input_border_color;
    border-radius: $inputForm_border_radius;
    color: $input_text_color;
    font-size: 24px;
    padding: 13px 18px;
    outline: none;
    width: 411px;
    height: 61px;
}